<!DOCTYPE html>
<html lang="zh-TW">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="../../components/global.css">
    <link rel="stylesheet" href="../../components/navigation.css">
    <link rel="stylesheet" href="../../components/footer.css">
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <script src="../../components/navigation.js"></script>

    <main>
        <header class="">

        </header>

    </main>

    <script src="script.js"></script>
    <script src="../../components/footer.js"></script>
</body>
</html>
